<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Title</title>
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/header.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/global.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/footer.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/calendar.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/assets/navigation/navigation.css}" />
</head>
<body>
	<div id="header">
		<h1>Atin Lay Time Management</h1>
	</div>

	<div id="navigation">
		<ul id="saturday">
			<li><a th:href="@{/hello}"><span>Home</span></a></li>
			<li><a th:href="@{/messages}"><span>messages</span></a></li>
			<li><a th:href="@{/requests}"><span>requests</span></a></li>
			<li><a class="current" th:href="@{/calendar}">calendar<span></span></a></li>
		</ul>
	</div>
	
	<h1>under construction</h1>


	<div id="calendar">
		<table border="1">
			<tr>
				<th class="headers">S</th>
				<th class="headers">M</th>
				<th class="headers">T</th>
				<th class="headers">W</th>
				<th class="headers">T</th>
				<th class="headers">F</th>
				<th class="headers">S</th>
			</tr>

			<tr id="week1" class="weeks">
				<td class="Sunday days">1</td>
				<td class="Monday days">2</td>
				<td class="Tuesday days">3</td>
				<td class="Wednesday days">4</td>
				<td class="days">4</td>
				<td class="Friday days">5</td>
				<td class="Saturday days">6</td>
			</tr>

			<tr id="week2" class="weeks">
				<td class="Sunday days">7</td>
				<td class="Monday days">8</td>
				<td class="Tuesday days">9</td>
				<td class="Wednesday days">10</td>
				<td class="Thursday days">11</td>
				<td class="Friday days">12</td>
				<td class="Saturday days">13</td>
			</tr>

			<tr id="week3" class="weeks">
				<td class="Sunday days">14</td>
				<td class="Monday days">15</td>
				<td class="Tuesday days">16</td>
				<td class="Wednesday days">17</td>
				<td class="Thursday days">18</td>
				<td class="Friday days">19</td>
				<td class="Saturday days">20</td>
			</tr>
			
			<tr id="week4" class="weeks">
				<td class="Sunday days">21</td>
				<td class="Monday days">22</td>
				<td class="Tuesday days">23</td>
				<td class="Wednesday days">24</td>
				<td class="Thursday days">25</td>
				<td class="Friday days">26</td>
				<td class="Saturday days">27</td>
			</tr>

			<tr id="week5" class="weeks">
				<td class="Sunday days">28</td>
				<td class="Monday days">29</td>
				<td class="Tuesday days">30</td>
				<td class="Wednesday days">31</td>
				<td class="Thursday days">1</td>
				<td class="Friday days">2</td>
				<td class="Saturday days">3</td>
			</tr>
		</table>
	</div>

		
	<div id="footer">
	<hr></hr>
		<table>
			<!--Insert quick links here-->
			<tr>
				<td><a th:href="@{/logout}">logout</a></td>
				<td><a th:href="@{/messages}">messages</a></td>
				<td><a th:href="@{/requests}">requests</a></td>
				<td><a th:href="@{/calendar}">calendar</a></td>
			</tr>
		</table>
	</div>
</body>
</html>
